header {
  padding: 1.5rem;
  background-color: lightgray;
}
.header-div {
  font-size: 1.5rem;
  font-weight: 500;
  p {
    line-height: 2rem;
    // color: white;
  }
}
.toggle-btn {
  width: 6rem;
  height: 2.6rem;
  background-color: gray;
  border-radius: 2rem;
  padding: 2px;
  div {
    width: 2.2rem;
    height: 100%;
    border-radius: 50%;
    background-color: white;
  }
}
